<div class="row-fluid"  id="message-board">
	<div class="col-md-12">
		<table class="table table-bordered table-striped">
			<caption>Message Board</caption>
			<thead>
				<tr>
					<th class="span2">Username</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody>
				<%
				if (typeof models != 'undefined' && models.length > 0) {
					_.each(models, function (value, key, list) { %>
						<tr>
							<td><%= value.attributes.username %></td>
							<td><%= value.attributes.message %></td>
						</tr>
					<% })
				}
				else { %>
				<tr>
					<td colspan="2">No messages yet</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
<div class="row-fluid"  id="new-message">
	<div class="col-md-12">
		<form class="well form-inline">
		  <input type="text" name="username" class="input-small" placeholder="Username" />
		  <input type="text" name="message" class="input-small" placeholder="Message Text" />
		  <a id="send" class="btn btn-primary">SEND</a>
		</form>
	</div>
</div>
